* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-text-hr: white;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    color: var(--color-text-hr);
    height: 50px;
    background-color: orange;
    position: sticky;
    top:0;
    z-index: 100;

    nav {
        width: 80%;
        margin: 0 auto;
    }

    .genere {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        list-style: none;

        li {
            margin-left: 10px;
        }
    }


    .box-logo {
        img {
            padding: 150px;
        }

        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}

.card {
    width: calc(100%/3);
    padding: 30px;
    position: relative;
    .nascoste{
        display:none;
    }

    .rel {
        position: relative;
    }

    i {
        position: absolute;
        right: 0;
        top: 10px;
        padding: 10px;
        background-color: var(--color-text-hr);
    }
    span{
            position: absolute;
            background-color:green;
            left:0px;
            bottom: 60px;
            color: var(--color-text-hr);
    
        }

    p {
        .red {
            position: absolute;
            background-color: red;
            bottom: 60px;
            color: var(--color-text-hr);

        }

        .green {
            background-color: green;
            position: absolute;
            bottom: 60px;
            left: 40px;
            color: var(--color-text-hr);
        }

        
    }

    
}

.card:hover{
    .nascoste{
        display: block;
    }
    .visibili{
        display: none;
    }
    .fa-solid.fa-heart{
        color: red;
    }
    

}
footer{
    background-color: black;
    color:white;
    font-size: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    li{
        margin:5px 10px 0 0;
        font-size: 10px;
    }
}